
<h2> Child A - Am I valid?: <span [ngClass]="!FormG.valid ? 'not-good' : 'all-good'">{{FormG.valid }}</span></h2>

<form [formGroup]="FormG">
  <label for="lastName">firstName </label>
  <input
      formControlName="firstName"
      type="text"
      id="lastName">
  <br/>
  @if( isInvalid( FormG ) ) {
    <!-- <div> Form : {{ JSON.stringify( FormG.get('firstName')?.errors ) }}</div>
    <div> Form : {{ JSON.stringify( FormG.get('middleName')?.errors ) }}</div> -->
    @if( FormG.get('firstName')?.errors?.['minlength']) {
      <div>firstName: minLength error </div>
    }

    @if( FormG.get('firstName')?.errors?.['required']){
      <div>firstName is Required</div>
    }

  }

  <br/>

  <label for="middleName">Middle Initial </label>
  <input
      formControlName="middleName"
      type="text"
      id="middleName">

      @if( isInvalid( FormG ) ) {
        @if( FormG.get('middleName')?.errors?.['maxlength']) {
          <div>middle name: maxLength error "there can be only one"</div>
        }
      }

</form>

  <hr/>

@for ( num of howManyChildB; track num){
  <app-child-b [parentForm]="parentForm" [id]="num" />
}
