
<h2> Child A - Am I valid?: <span [ngClass]="!FormG.valid ? 'not-good' : 'all-good'">{{FormG.valid }}</span></h2>

<form [formGroup]="FormG">
  <label for="lastName">firstName </label>
  <input
      formControlName="firstName"
      type="text"
      id="lastName">
  <br/>
  <br/>

  <label for="middleName">middleName </label>
  <input
      formControlName="middleName"
      type="text"
      id="middleName">

      @if( isWorthy2(FormG)){
        <div>Formg: {{ JSON.stringify( FormG.get('firstName')?.errors ) }}</div>
        @if( FormG.get('firstName')?.errors?.['minlength']) {
          <div>firstName: minLength error </div>
        }

        @if( FormG.get('firstName')?.errors?.['required']){
          <div>firstName is Required</div>
        }
      }

</form>

  <hr/>

@for ( num of howManyChildB; track num){
  <app-child-b (childsOutput)="passChildOnToParent($event)" [id]="num" />
}
